@(viewModel: models.view.AdminIndexViewModel)

@adminmain("Whereabts - ADMIN", "") {

	<div class="row">
		<div class="small-10 large-centered columns full" style="text-align: center;">
			
			<div style="margin-bottom: 30px;">
				<h2>Users</h2>
				<div class="huge_text">
					@viewModel.userCount()
				</div>
			</div>
			
			<div>
				<h2>Feedback messages</h2>
				<div style="text-align: left;">
				@for(feedback <- viewModel.feedbacks()) {
					<div style="margin-left: 15px; margin-bottom: 15px;">
						<div><strong>@feedback.timestamp()</strong></div>
						<div>@feedback.message</div>
					</div>
				}
				</div>
			</div>
			
		</div>
	</div>

}
