html, body { 
  height: 101%;
  background-color: #ececec !important;
  font-family: "Open Sans", sans-serif, Arial !important;
}
p,address {
  color: #414141;
  padding-left: 10px;
  padding-right: 10px; 
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans", sans-serif, Arial !important;
  color: #414141 !important;
}
a {
  color: #414141 !important;           
}
a.highlight {
  color: #cf5a9d !important; 
}
address > a {          
  color: #cf5a9d !important;
}
hr {
  border-color: #cf5a9d !important;
  margin: 0 !important;
}

hr.carved {
  clear: both; 
  float: none; 
  width: 100%; 
  height: 2px;
  margin: 1.4em 0;
  border: none; 
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.5, rgb(215,215,215)),
      color-stop(0.5, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(215,215,215) 50%,
      rgb(255,255,255) 50%
  );
}

span{
  color: #cf5a9d !important;
}
strong {
  font-size: 12pt;
}
img.navi {
  display:inline-block;
  
}
div.navi {
  padding: 0 !important;
  display: inline-block;
  width: 6em;
}
a.navi {
  color: #414141 !important;
  padding: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
a.navi.active {
  color: #cf5a9d !important;
  padding: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
a:hover.navi, a:active.navi {
  color: #cf5a9d !important;
}
#wrap {
  background-color: #f4f4f4;
  min-height: 650px !important;
  height: auto !important;
  height: 100%;
  margin: 0 auto (5em * -1);
}
#wrap > *:last-child {
  padding-bottom: 0em;
}

#header {
    background-color: #ececec;
    margin-bottom: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0;
    max-width: 980px !important;
}
#footer {
    background-color: #ECECEC;
    height: 250px;
}
#header_shadow {
    background-image: url("/assets/images/header_shadow.png");
    background-repeat: repeat-x;
    height: 3px;
    margin: 0;
    text-align: center;
    vertical-align: bottom;
}
.top-bar {
    background-color: #ECECEC !important;
    margin-bottom: 0 !important;
}
.top-bar-section ul {
    background: none repeat scroll 0 0 transparent !important;
}
.top-bar-section ul li > a {
    background: none repeat scroll 0 0 transparent !important;
}
.contain-to-grid {
  background: #ececec !important;
}
.nav-header {
  font-size: 11pt;
  font-weight: bold;  
}
.img_bottom {
  position: absolute;
  bottom:0px;
  left: 0px;
}
.img_center {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.full {
  position: relative;
  padding-top: 3em;
  padding-bottom: 2em;
  height: 100%;
}
.copyright {
  margin-top: 50px;
  font-size: small;
}
.person_details {
  margin-bottom: 15px;
}
.huge_text {
	font-size: 48px;
}
.map_view {
  margin: 0;
  padding: 0;
  height: 650px;
  min-width: 100%;
}

.map_view div, img {
 	box-sizing:content-box;
} 

.map_view .ee_gmap div,
.map_view .ee_gmap img {max-width: none !important; vertical-align: baseline !important; box-sizing:content-box} 

.map_view img {max-width: none !important; vertical-align: baseline !important;} 


.by { 
  display: inline; 
  text-align: left;
  color: #b43987;
  font-size: 14px;
}
.ts {
  float:right; 
  display: inline; 
  text-align: right;
  color: #b43987;
  font-size: 14px;
}

.whereabts_message {
	font-size: 18px;
}
