@main("About", "about", "") {

<div class="row">
  <div class="small-10 large-centered columns full" style="text-align: center;">
    <div class="row">
               	<div class="small-6 large-6 columns full">
               		<img src="@routes.Assets.at("images/antti.jpg")">
                    <h5>Antti Siukola</h5>
               		<p>CEO<br />
               		Business development<br />
               		<a href="http://fi.linkedin.com/in/anttisiukola" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="http://s.c.lnkd.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Antti Siukola's LinkedIn profile" style="vertical-align:middle" border="0"></span></a></p>
                </div>
                <div class="small-6 large-6 columns full">
               		<img src="@routes.Assets.at("images/jani.jpg")">
                    <h5>Jani Arvonen</h5>
               		<p>CTO<br />Lead architect and developer<br />
               		<a href="http://www.linkedin.com/in/jamppa" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="http://s.c.lnkd.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Jani Arvonen's LinkedIn profile" style="vertical-align:middle" border="0"></span></a>
                </div>
    </div>
  </div> 
</div>

<div class="row">
  <div class="small-12 large-centered columns full">
    <h4>Experienced, practical and hands-on professionals</h4>
    <p>
    We are experienced professionals  and manage software and system engineering for over 10 years in practice. We are internationally connected, hard working and passionate about technology.
    </p>
    <p>We've worked for years in challenging IT projects and systems. Thus, we understand both technical as well as business critical  requirements of large scale strategic environments as well as the lean and clean approach for developing quality software that scales and performs as expected.</p>

    <h4>Whereabts Ltd</h4>
    <p>Whereabts Ltd is a young Finland based start-up company developing the Whereabts geomessaging app.</p>
    <p>Our company is a part of Aalto University's Start-Up Center (<a href="https://twitter.com/startupc" class="highlight">@@startupc</a>) business incubator. We are aiming for international markets by starting from Nordic region in Europe and expanding towards other European countries as soon as possible.</p>

    <h4>Whereabts App</h4>
    <p>Geomessaging by sharing special moments and interesting happenings, on map based mobile application for people on the move.</p>
    
    <h4>Beta user group</h4>
    <p><a id="join-beta" href="@routes.JoinBetaGroupController.show()" class="highlight">Contact us</a> to join the beta user group to get the latest and greatest of the Android application we are developing.</p>

    <h4>Contact us</h4>
    <p>Anything to ask? Don't be shy, just contact us!</p>
              <address>
              	<strong>Whereabts Ltd</strong><br />
              	<a href="mailto:whereabts@@whereabts.com">whereabts@@whereabts.com</a><br />
		Other email addresses as firstname.lastname@@whereabts.com
              </address> 
  </div>
</div>

}
