@(joinBetaGroupForm: Form[dtos.JoinBetaCredentials])

@import helper._

@main("Join in Beta", "beta", "") {

	<div class="row">
		<div class="small-6 large-centered columns full">
			<h4>Join our beta user group</h4>
			<p>and contribute with your ideas and feedback!</p>
		</div
	</div>
	
	<div class="row">
		<div class="small-6 large-centered columns">
			
			<div class="row">
				@if(joinBetaGroupForm.hasErrors){
					<div id="error-message" data-alert class="alert-box alert">
						Name and email address required
					</div>
				}
				
				@if(flash.get("success")){
					<div id="success-message" data-alert class="alert-box success">
						<strong>Thank you for joining!</strong> <br /> <br />
						We'll be in touch as we handle your addition to the beta group!
					</div>
				}
			</div>
			
			@helper.form(routes.JoinBetaGroupController.joinBetaGroup) {
			
				<div class="row">
					<div class="large-12 columns">
        				@inputText(
        					joinBetaGroupForm("name"),
        					'_label -> "Name",
        					'_showConstraints -> false,
        					'_showErrors -> false 
        				)
      				</div>
      			</div>
      			
      			<div class="row">
					<div class="large-12 columns">
        				@inputText(
        					joinBetaGroupForm("email"),
        					'_label -> "Email (Google account on the device you use Whereabts)",
        					'_showConstraints -> false,
        					'_showErrors -> false 
        				)
      				</div>
				</div>
				
				<div class="row">
					<div class="large-12 columns">
						<button id="btn-join-beta" type="submit" class="button success">Join now!</button>
					</div>
				</div>
				
			}
			
		</div>
	</div>
	
}