@main("Share your whereabouts while it happens", "index", "Share your whereabouts with others and reveal current happenings around you") {

<div class="row">

  <div class="small-12 large-12 columns full">
    <h4>On the move? Something happening?</h4>
  </div>

</div>

<div class="row">

  <div class="small-6 large-4 columns full" style="display: block !important;">
    <a href="https://play.google.com/store/apps/details?id=com.whereabts" onClick="trackOutboundLink(this, 'Outbound Links', 'play.google.com'); return false;">
      <img src="@routes.Assets.at("images/screenshot1.png")" class="img_center" />
    </a>
  </div>

  <div class="small-6 large-8 columns full" style="text-align: center;">
    <h2>Share your whereabouts while it happens!</h2>
    <p>Whereabts is a unique, time and place oriented geomessaging service with a strict focus on current time. Whereabouts are shown on map for only a limited time to show only the latest and most interesting happenings.</p>
    <p>
       <a href="https://play.google.com/store/apps/details?id=com.whereabts" onClick="trackOutboundLink(this, 'Outbound Links', 'play.google.com'); return false;">
         <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
       </a>
    </p>
  </div>

</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <hr class="carved" />
  </div>
</div>

<div class="row">

  <div class="small-6 large-8 columns full" style="text-align: center;">
    <h3>Share with followers and friends</h3>
    <p>With Whereabts you share a happening, a moment, a place on map and tell the world what’s happening and where. Browse your neighbourhood, explore cities, discover the world of various happenings.</p>
  </div>

  <div class="small-6 large-4 columns full" style="display: block !important;">
    <a href="https://play.google.com/store/apps/details?id=com.whereabts" onClick="trackOutboundLink(this, 'Outbound Links', 'play.google.com'); return false;">
      <img src="@routes.Assets.at("images/screenshot2.png")" class="img_center" />
    </a>
  </div>
</div>
<div class="row">  
  <div class="small-6 large-4 columns full" style="display: block !important;">
    <a href="https://play.google.com/store/apps/details?id=com.whereabts" onClick="trackOutboundLink(this, 'Outbound Links', 'play.google.com'); return false;">
      <img src="@routes.Assets.at("images/screenshot2a.png")" class="img_center" />
    </a>
  </div>
  
  <div class="small-6 large-8 columns full" style="text-align: center;">
    <h3>Discuss with people around the world</h3>
    <p>Take the best out of the happening, get responses from peers around and enjoy the moment together.</p>
  </div>
  
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <hr class="carved" />
  </div>
</div>

<div class="row">

  <div class="small-6 large-8 columns full" style="text-align: center;">
    <h3>Follow interesting people</h3>
    <p>A friend or an interesting adventurer on the move? Follow them and stay aware of their whereabouts and happenings around them.</p>
  </div>

  <div class="small-6 large-4 columns full" style="display: block !important;">
    <a href="https://play.google.com/store/apps/details?id=com.whereabts" onClick="trackOutboundLink(this, 'Outbound Links', 'play.google.com'); return false;">
      <img src="@routes.Assets.at("images/screenshot3.png")" class="img_center" />
    </a>
  </div>

</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <hr class="carved" />
  </div>
</div>

<div class="row">

  <div class="small-8 large-centered columns full">
    <h5 id="inthemedia">In the media</h5>
    <p style="text-align: center;"><a href="http://www.arcticstartup.com/2013/10/24/social-mapping-literally-by-whereabts"><img src="@routes.Assets.at("images/arctic_startup_logo.png")" /></a></p>
    <p style="text-align: center;"><a href="http://www.mobilescene.fi/blog-144-whereabts-is-made-for-people-who-are-on-the-move"><img src="@routes.Assets.at("images/mo_sc_fi_logo.png")" /></a></p>
  </div>

</div>

<div class="row">

  <div class="small-8 large-centered columns full">
    <h5 id="inthemedia">How users feel about us</h5>
    <blockquote>Hyvää työtä jätkät, tämä kun leviää isomman yleisön tietoisuuteen niin suomipojan tekele polkee foorskveerin sun muut suohon :) Saas nähdä miten tukkoon tuo karttanäkymä tulevaisuudessa menee...<cite>A Finnish user</cite></blockquote>
  </div>

</div>

<div class="row">

  <div class="small-8 large-centered columns full">
    <h5>Join our beta user group!</h5>
    <p>
    We are in active development and looking for <a id="join-beta" href="@routes.JoinBetaGroupController.show()" class="highlight">beta users</a> to contribute their ideas and feedback.
    </p>
  </div>

</div>
}
