@(joinPilotGroupForm: Form[dtos.JoinPilotCredentials])

@import helper._

@main("Join Pilot", "pilot", "") {

	<div class="row">
		<div class="small-6 large-centered columns full">
			<h4>Join our pilot program for businesses</h4>
			<p>and get 6 months unlimited usage for free by contributing your feedback, exprerience and practice!</p>
		</div
	</div>
	
	<div class="row">
		<div class="small-6 large-centered columns">
			
			<div class="row">
				@if(joinPilotGroupForm.hasErrors){
					<div id="error-message" data-alert class="alert-box alert">
						Please fill all the details
					</div>
				}
				
				@if(flash.get("success")){
					<div id="success-message" data-alert class="alert-box success">
						<strong>Thank you for joining!</strong> <br /> <br />
						We'll be in touch with you as soon as possible with the details about the program.
					</div>
				}
			</div>
			
			@helper.form(routes.JoinPilotGroupController.joinPilotGroup) {
			
				<div class="row">
					<div class="large-12 columns">
        				@inputText(
        					joinPilotGroupForm("companyName"),
        					'_label -> "Company",
        					'_showConstraints -> false,
        					'_showErrors -> false 
        				)
      				</div>
      			</div>
      			
      			<div class="row">
					<div class="large-12 columns">
        				@inputText(
        					joinPilotGroupForm("contactName"),
        					'_label -> "Contact name",
        					'_showConstraints -> false,
        					'_showErrors -> false 
        				)
      				</div>
				</div>
				
				<div class="row">
					<div class="large-12 columns">
        				@inputText(
        					joinPilotGroupForm("email"),
        					'_label -> "Email",
        					'_showConstraints -> false,
        					'_showErrors -> false 
        				)
      				</div>
				</div>
				
				<div class="row">
					<div class="large-12 columns">
        				@inputText(
        					joinPilotGroupForm("phone"),
        					'_label -> "Phone (optional)",
        					'_showConstraints -> false,
        					'_showErrors -> false 
        				)
      				</div>
				</div>
				
				<div class="row">
					<div class="large-12 columns">
						<button id="btn-join-pilot" type="submit" class="button success">Join now!</button>
					</div>
				</div>
				
			}
			
		</div>
	</div>
	
}