@(form: Form[dtos.LoginCredentials])

@main("Login", "login", "") {

	<div class="row">
		<div class="small-10 large-centered columns full" style="text-align: center;">
			@helper.form(routes.LoginController.authenticate) {
				
			<h4>Log In</h4>

   			<p>
       			<input type="email" name="email" placeholder="Email" value="@form("email").value">
   			</p>
   			<p>
       			<input type="password" name="password" placeholder="Password">
   			</p>
   			<p>
       			<button type="submit">Login</button>
   			</p>
			
			}
			
			@if(form.hasGlobalErrors) {
				<p class="error">
					@form.globalError.message
				</p>
			}
		</div>
	</div>


}
