@main("Not Found", "notfound", "") {

<div class="row">
  <div class="small-12 large-12 columns full box_highlight" style="text-align: center;">
    <h1>Not Found!</h1>
    <p>The page you were looking for could not be found</p>
  </div>
</div>

}
