@main("Press", "press", "") {

	<div class="row">    
           <div class="small-10 large-centered columns full">
              <p><a href="#en" class="highlight">In English</a> || <a href="#fi" class="highlight">Suomeksi</a> || <a href="#se" class="highlight">På svenska</a></p>
              <h4 id="en">Whereabts Ltd releases Whereabts Geomessaging Android app</h4>
              <h6>Finland, EU – On October 25th, 2013</h6>

<p>Whereabts Ltd releases the Whereabts geomessaging service and an Android application via <a href="https://play.google.com/store/apps/details?id=com.whereabts" class="highlight">Google Play Store</a>. Whereabts is made for people who are on the move, interested about their surroundings and happy to share their whereabouts. </p>

<p>With Whereabts, you’re always up to date with what's happening near you or any other location of your interest. Share your thoughts and comment other people’s whereabouts, while letting your followers know what your are doing and where, connect Whereabts to Facebook and let all your friends see your whereabouts.</p>

<p>Whereabts is a geomessaging service, where messages are shown on map for a limited time and then disappear. If you want more details about the happenings related to a specific person, you can choose to “follow” the individuals whose activities you’re interested in. With Whereabts you share a happening, a moment, a place on map and tell the world what’s happening. Whereabts lets you discover happenings on map with a glimpse of the area you are at the moment or dig deeper by browsing the world.</p>

<p>But, it is not just geomessaging, it’s also about time with the specific place, the whereabouts of a current happening. It’s the focus of the whole service which makes it different and powerful when only the latest information matters and static information gets old and irrelevant.</p>

<blockquote>“Nowadays information gets old really fast, so we try to deliver only the latest and most current happenings around people and let them share what they think is great at their whereabouts,” said Antti Siukola, CEO of Whereabts Ltd.</blockquote>

<p>Whereabts Ltd is a Finland based, privately owned mobile start-up company founded in early 2013. It is developing the Whereabts geomessaging service and aiming towards the global market of geomessaging. For more information, visit <a href="http://www.whereabts.com/about">www.whereabts.com/about</a>. </p>

<blockquote>“The service was launched to help people find what’s interesting around them and make sure the happenings are for real and current without too much of thinking when it actually happened and where.”</blockquote>

<blockquote>“We’ve spent quite much time with our main keywords, like whereabouts and current happenings and have made the app easy to approach so that the mobile app instantly shows ones surroundings without long registrations and too many installation steps,” said Siukola.</blockquote>

<p>Whereabts is a unique, time and place oriented geomessaging service with a strict focus on current time and happenings. Users can find relevant and up-to-date information about their surroundings and interesting happenings quickly and easily.</p>

<p>The Whereabts team is small but experienced and well performing professionals. We have over 10 years of experience with large scale and business critical software production and globally operating systems. We produce high quality software and use the latest high productivity engineering tools and automation on all levels of production.</p>

<p>Contact</p>

<p>To learn more about the service, please contact</p>

<ul class="vcard">
<li class="fn">Antti Siukola</li>
<li>CEO</li>
<li class="email"><a href="mailto:antti.siukola@@whereabts.com">antti.siukola@@whereabts.com</a></li>
<li>+358 40 766 3468</li>
</ul>

<h4 id="fi">Whereabts Oy julkistaa Whereabts geoviestisovelluksen Androidille</h4>
<h6>Lokakuun 25., 2013</h6>

<p>Whereabts Oy on julkaissut Whereabts Android -sovelluksen <a href="https://play.google.com/store/apps/details?id=com.whereabts" class="highlight">Google Play Storessa</a>. Whereabts on sosiaalinen geoviestipalvelu, joka on tarkoitettu ympäristöstään kiinnostuneille, liikkuville ihmisille, jotka ovat halukkaita jakamaan tapahtumat ja kokemuksensa muille.</p>

<p>Whereabts -sovelluksen avulla käyttäjä löytää helposti mitä lähellä tai jossain muussa kiinnostavassa paikassa tapahtuu. Ihmiset voivat jakaa ajatuksiaan ja mielipiteitään, kommentoida muiden viestejä sekä välittää kokemuksensa Facebook -kavereidensa kanssa paikannetusti.</p>

<p>Whereabts on geoviestipalvelu, joka näyttää viestit kartalla vain rajoitetun ajan, sen jälkeen viestit katoavat. Muita ihmisiä voi seurata “Follow” -toiminnon avulla, joka tuo viestit näkyviin kartan ja viestivirran yhdistävässä näkymässä vielä viestien yleiseltä kartalta poistumisen jälkeen. Palvelussa jaetaan kokemus, tapahtuma tai hetki, paikka kartalla ja kerrotaan siitä maailmalle. Whereabts mahdollistaa sekä tapahtumien jakamisen että muiden ihmisten kokemusten seuraamisen vain karttaa vilkaisemalla.</p>

<p>Palvelu ei ole kuitenkaan pelkästään geoviestejä. Se on myös tietyn ajan ja paikan yhdistämistä kartalla ihmisten kokemuksiin. Tämä on koko palvelun ydin, joka tekee siitä erilaisen ja tehokkaan kun vain viimeisin tieto merkitsee ja muuttumaton tieto vanhenee sekä menettää merkityksensä.</p>

<blockquote>“Tänä päivänä tieto vanhenee todella nopeasti, joten yritämme välittää vain viimeisimmän tiedon ja kaikkein ajankohtaisimmat tapahtumat ihmisten ympäriltä sekä antaa heidän jakaa sen, mikä on kiinnostavinta siellä missä he juuri nyt ovat,” Antti Siukola, Whereabts Oy:n toimitusjohtaja, sanoi.</blockquote>

<p>Whereabts Oy on suomalainen, yksityisomisteinen mobiilialan startup-yritys, joka on perustettu alkuvuodesta 2013. Se kehittää Whereabts geoviestipalvelua ja tähtää globaaleille markkinoille geoviestinnässä. Lisää tietoa osoitteessa: <a href="http://www.whereabts.com/about">www.whereabts.com/about</a>.</p>

<blockquote>“Palvelu on tehty auttamaan ihmisiä löytämään sen, mikä on kiinnostavaa heidän ympärillään ja varmistamaan, että tapahtuma on ajankohtainen ilman tarvetta erikseen selvittää missä ja milloin se tapahtui.”</blockquote>

<blockquote>“Olemme käyttäneet melkoisesti aikaa avainsanojen, kuten olinpaikka, tämänhetkinen ja ajankohtainen, kanssa ja teimme sovelluksesta helposti lähestyttävän sekä helpon asentaa, joten sovellus näyttää heti ihmisen ympäristön ilman työläitä ja aikaa vieviä rekisteröintejä ja asennuksia,” Siukola sanoi.</blockquote>

<p>Whereabts on ainutlaatuinen, aikaan ja paikkaan sidottu geoviestintäpalvelu, jonka selkeä ydin on tämän hetkisissä tapahtumissa. Käyttäjät löytävät tietoa ympäristöstään ja kiinnostavista paikoista helposti ja nopeasti.</p>

<p>Whereabts tiimi on pieni mutta kokenut ja tehokas. Meillä on yli 10 vuoden kokemus laajoista liiketoimintakriittisistä ja maailmanlaajuisista järjestelmistä. Tuotamme korkean laadun sovelluksia ja käytämme viimeisimpiä korkean tuottavuuden kehitystyökaluja ja automaatiota kaikilla tuotekehityksen alueilla.</p>

<p>Ota yhteyttä.</p>

<ul class="vcard">
<li class="fn">Antti Siukola</li>
<li>Toimitusjohtaja</li>
<li class="email"><a href="mailto:antti.siukola@@whereabts.com">antti.siukola@@whereabts.com</a></li>
<li>+358 40 766 3468</li>
</ul>

<h4 id="se">Whereabts Ab ger ut Whereabts Geomessaging app för Android</h4>
<h6>Finland, EU – 25 october, 2013</h6>


<p>Whereabts Ab släpper Geomessaging-tjänsten Whereabts, samt en Android-app för utnyttjandet av tjänsten via <a href="https://play.google.com/store/apps/details?id=com.whereabts" class="highlight">Google Play Store</a>. Whereabts riktar sig till den som finner sig ofta i rörelse, är intresserade av sin omgivning och gärna också delar med sig sina upplevelser om de platser där de rör sig.</p>

<p>Med Whereabts håller du dig uppdaterad om vad som händer i din näromgivning eller på något annat ställe du finner intressant. Dela med dig dina tankar och kommentera andras lägesuppdateringar samtidigt som du delar med dig din egen lägesinfo för dina ”followers”. Det går också lätt att låta dina vänner veta var du rör dig och vad du håller på med genom att koppla Whereabts till Facebook.</p>

<p>Whereabts är en lägesbaserad tjänst (Geomessaging) där meddelanden visas på kartan under en begränsad tid. Vill du veta mera om händelser relaterade till en specifik person så kan du välja ”follow” för personen. Med Whereabts kan du på kartan berätta för med resten av världen om en händelse, en speciell stund eller någon specifik plats du hittat. Whereabts låter dig både dela med dig samt upptäcka händelser i närheten av var du befinner dig. Med en snabb blick på kartan ser du vad som händer i närheten. Du kan också låta dig bli inspirerad av nya platser runtom världen med att utforska kartan.</p>

<p>Whereabts handlar dock inte endast om Geomessaging. Whereabts placerar händelserna i tid och rum. Idag gäller det att vara medveten om vad som är aktuellt, vad som händer just nu på ett specifikt ställe. Tjänsten är unik i och med att dess styrka ligger i systemet hur informationen hålls konstant aktuell för användarna. Statisk information blir snabbt irrelevant, därför filtreras sådan bort automatiskt i Whereabts.</p>

<blockquote>“I dagens läge föråldras information mycket snabbt. Vi försöker därför erbjuda människorna endast det senaste och aktuellaste av allt som händer omkring dem samt låta dem dela med sig vad de tycker är fantastiskt där de rör sig.” – Antti Siukola, VD för Whereabts Ab.</blockquote>

<p>Whereabts Ab är ett i början av 2013 grundat, privatägt mobile start-up företag baserat i Finland. Företaget utvecklar Whereabts -tjänsten och strävar till den globala marknaden av platsbaserad kommunikation. För vidare information kan ni besöka vår webbsida <a href="http://www.whereabts.com/about">www.whereabts.com/about</a>.</p>

<blockquote>”Tjänsten startades för att hjälpa människor hitta det som är intressant i deras närhet och se till att det som händer faktiskt är aktuellt, utan att de skall behöva anstränga sig onödigt över att ta reda på var och när händelserna egentligen ägt rum”</blockquote>

<blockquote>“Vi har använt en hel del tid med våra huvudsakliga nyckelord, så som läge och aktualiteter, och har gjort applikationen lätthanterlig så att den visar omedelbart vad som händer i närheten, utan att behöva långa registreringar eller många steg i installationen” sade Siukola.</blockquote>

<p>Whereabts är en unik, tid- och platsbaserad tjänst med en stark fokus på vad som är aktuellt just nu. Användarna får relevant information i reell tid om sin omgivning och intressanta ställen snabbt och behändigt.</p>

<p>Whereabts teamet är litet men består av erfarna och väl presterande proffs inom sitt område. Vi har över 10 års erfarenhet med produktion av storskalig och Business Critical programvara samt globalt verksamma system. Vi producerar programvara av hög kvalitet och använder oss av de senaste högeffektiva programmeringsverktygen med automatisering på alla nivåer av produktionen.</p>

<p>Kontaktuppgifter:</p>

<p>Vill du veta mera om tjänsten så kontakta gärna:</p>

<ul class="vcard">
<li class="fn">Antti Siukola</li>
<li>CEO</li>
<li class="email"><a href="mailto:antti.siukola@@whereabts.com">antti.siukola@@whereabts.com</a></li>
<li>+358 40 766 3468</li>
</ul>
            </div>             
	</div>  

}
