@main("Privacy", "privacy", "") {

	<div class="row">    
           <div class="small-10 large-centered columns full">
              <h4>Privacy policy</h4>
              <p>
1 General<br /><br />

Whereabts is a service by Whereabts Ltd and it may collect personal and indentifying information of its users when needed. This information may for example be IP addresses and information about your browser or other client software.<br /><br />

2 Cookies<br /><br />

We may use cookies (alphanumeric pieces of information) and store them to your computer when you use our service. We may use both both session cookies and persistent cookies. These pieces of information may be used to identify you and/or your browser or Whereabts application.<br /><br />

Our service may not function correctly if you do not accept cookies.<br /><br />

3 Data and other information<br /><br />

Possible user indentifying and personal information, such as log file information, device information etc. is stored privatly on Whereabts Ltd servers and storage systems. These sensitive information pieces are only available to Whereabts Ltd personnel. We have no legislative requirements to cooperate with authorities. Thus, we do not make any confidential information available to authorities without a court order.<br /><br />

4 Disclosure<br /><br />

We may disclose personally identifiable information under special circumstances, for example when your actions violate terms of the service.<br /><br />

5 Significant changes to this policy will be notified to users trough our website, www.whereabts.com.<br /><br />

6 Questions? Send email to whereabts@@whereabts.com.
              </p>
            </div>             
	</div>  

}
