@main("Terms", "terms", "") {

	<div class="row">    
           <div class="small-10 large-centered columns full">
              <h4>Terms of service</h4>
              <p>
1 General<br /><br />

This is an agreement between Whereabts Ltd and the user (you) of the service (Whereabts mobile application and website) and contains details for the terms of use.<br /><br />

BY USING THE SERVICE, YOU ACKNOWLEDGE AND AGREE TO THESE TERMS OF SERVICE AND OUR PRIVACY POLICY. If you do not agree with the terms, you may not use the Whereabts online services.<br /><br />

2 Contents of the service<br /><br />

Whereabts Ltd aims to deliver, host and develop the Whereabts online services. The service may contain links to other services that are not maintained or owned by the Whereabts Ltd and Whereabts Ltd is not responsible of the content of these third party services. Thus, Whereabts Ltd will not censor nor edit any of these pieces of information. However, Whereabts Ltd may edit or remove contents are offensive or illegal.<br /><br />

3 Device requirements<br /><br />

Users have to make sure by them selves that their devices used to access Whereabts online services are sufficient enough to use the service. All costs related to make it possible to use the service are payed by the users them selves.<br /><br />

4 Accessing the service<br /><br />

Users access the service with the Whereabts mobile application and by using the Whereabts website.<br /><br />

5 Intellectual property rights<br /><br />

Whereabts Ltd owns or licences all of the text, scripts, graphics, features and the trademarks, service marks and logos in the services. The service is provided to you AS IS for your personal use only.<br /><br />

6 Prices<br /><br />

Whereabts online services are free of charge but may cause additional costs by using an Internet connection.<br /><br />

7 Assignment<br /><br />

These terms and any rights and licenses granted hereunder, may not be transferred or assigned by you. However, they may be assigned by Whereabts Ltd without any restriction.<br /><br />

8 Warranty Disclaimer <br /><br />

YOU AGREE THAT YOU USE THE WHEREABTS SERVICE AT YOUR SOLE RISK. PERMITTED BY LAW, WHEREABTS, ITS OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SERVICE AND YOUR USE THEREOF. WHEREABTS MAKES NO WARRANTIES ABOUT THE ACCURACY OR COMPLETENESS OF THE SERVICE'S CONTENT AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY ERRORS, MISTAKES, OR INACCURACIES OF CONTENT.<br /><br />

9 Limitation of Liability<br /><br />

NEVER SHALL WHEREABTS, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OR INJURIES WHATSOEVER RESULTING FROM ANY ERRORS, MISTAKES, OR INACCURACIES OF CONTENT OR THE SERVICE.<br /><br />

11 Ability to Accept Terms of Service<br /><br />

You, the user, are responsible of making sure that you are legally liable to accepted these terms in your country by law.<br /><br />

12 Questions? Send email to whereabts@@whereabts.com.
              </p>
            </div>             
	</div>  

}
