@(whereabtsMessage: models.view.WhereabtsMessageViewModel)

@import org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@main(whereabtsMessage.title(), "", whereabtsMessage.message()) {

<script type="text/javascript">
      function initialize() {

      	var messageLocation = new google.maps.LatLng(@whereabtsMessage.latitude(), @whereabtsMessage.longitude());

        var mapOptions = {
          center: messageLocation,
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          disableDefaultUI: true,
          draggable: false,
          disableDoubleClickZoom: true,
          scrollwheel: false
        };

        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

		var messageMarkerOptions = {
        	position: messageLocation,
        	icon: "@routes.Assets.at("images/maps_marker.png")",
        	map: map	
        }

        var marker = new google.maps.Marker(messageMarkerOptions);
        var messageContent = '<div id="content">' +
        					 '<h3></h3>' +
        					 '<p class="whereabts_message">@escapeEcmaScript(whereabtsMessage.message())</p>' +
        					 '<hr />' +
        					 '<p class="by"></p><p class="ts">@whereabtsMessage.whenPosted()</p>' +
        					 '</div>';
        					 
        var infoWindow = new google.maps.InfoWindow({
      		content:  messageContent
  		});
		
		google.maps.event.addListener(marker, 'click', function() {
    		infoWindow.open(map, marker);
  		});
  		
        infoWindow.open(map, marker);
        map.panTo(new google.maps.LatLng(messageLocation.lat()+0.01, messageLocation.lng()));
        setMapResizeListener(map, messageLocation);
      }
      
      function setMapResizeListener(map, location) {
      	if (window.attachEvent) { 
			window.attachEvent("onresize", function() {map.panTo(new google.maps.LatLng(location.lat()+0.01, location.lng()))} );
      	} else {
        	window.addEventListener("resize", function() {map.panTo(new google.maps.LatLng(location.lat()+0.01, location.lng()))} , false);
      	}
      }
      
      google.maps.event.addDomListener(window, 'load', initialize);
</script>


	<div id="map-canvas" class="map_view"></div>

}
